!!!
%html
  %head
    %meta{ :'http-equiv' => "Content-Type", content: "text/html; charset=utf-8" }
    %meta{ name: "description", content: "The Barge House, Haggerston" }
    %meta{ :name=>"viewport", :content=>"width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1" }
    -# Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "The Middleman"
    = stylesheet_link_tag "reset", "application"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js", async:""
      = stylesheet_link_tag "application_ie", media: "screen"
    = javascript_include_tag "all"
    

  %body{ class: page_classes }
    = yield